:root {
  --board-size: 600px;
}

html, body {
  margin: 0;
}

.container {
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.drawing-board {
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  width: var(--board-size);
  height: var(--board-size);
}

.cell {
  border: solid 1px lightgray;
  /* border: none; */
}

.menu {
  width: var(--board-size);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.reset-button {
  background-image: url('img/reload.png');
  background-size: 100%;
  /* margin-left: 50px; */
  width: 22px;
  height: 22px;
  overflow: hidden;
}

.slider-value {
  text-align: center;
}
